.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(19, 19, 19);
  color: white;
  padding: 10px;
}

.navbarLinks {
  display: flex;
  margin-right: 20px;
}

.navbarLinks span {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
}
